/*--------------------------------*/


/*Select--------------------------*/
.modula-std-select {
    background-color: white;
    width: 140px;
    height: 26px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}

.modola-std-widget {
    background-color: rgb(225, 225, 225);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0px;
    padding: 10px;
    width: 100px;
    height: 100px;
}

/*--------------------------------*/